.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("https://img.freepik.com/free-photo/stack-vinyl-record-black-background_23-2147889744.jpg?size=626&ext=jpg");
  background-size: cover;
  align-items: center;
}
.login-title {
  font-size: 50px;
  color: rgb(218, 207, 117);
}
.login-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.login-form > label {
  margin: 10px 0;
}
.login-form > input {
  padding: 10px;
  background-color: whitesmoke;
  border: none;
}
.login-btn {
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(173, 149, 70);
  border: none;
  color: whitesmoke;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}
.login-btn:hover {
  background-color: rgb(223, 191, 88);
}
.login-reg-btn {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: rgb(136, 129, 62);
  cursor: pointer;
  border: none;
  color: whitesmoke;
  border-radius: 4px;
  padding: 10px;
}
.login-reg-btn:hover {
    background-color: rgb(243, 227, 85);
    color: black;
  }
